.label {
  flex: 1;
  max-width: 50%;

  overflow: auto;
  font-size: 2.5em;
  font-weight: bold;
}

button {
  padding: 0.5em;
  margin: 0.4em 1em;

  background-color: transparent;
  border-radius: 0.5em;
  border-width: 0.4rem;
  border-color: var(--main-col);
  border-style: solid;

  font-size: 3em;
  font-weight: bold;
  color: var(--accent-col);

  box-shadow: 0.5rem 0.5rem 1rem black;
}
button:active {
  background-color: black;
  transform: scale(0.9);
}
button:disabled {
  background-color: transparent;
  transform: scale(1);
  
  color: var(--accent-col-faded);
  border-color: var(--main-col-faded);
  box-shadow: none;
}

input[type='radio'] {
  appearance: none;
  width: 1em;
  height: 1em;
  
  border-radius: 50%;
  border-width: 0.2rem;
  border-style: solid;
  border-color: var(--main-col-faded);
}
input[type='radio']:checked {
  width: 2em;
  height: 2em;
  border-width: 0.4rem;
  border-color: var(--accent-col);
}


.input-margin {
  width:auto;
  padding: 0.5rem;
  margin: 0.5rem 0.5rem 2rem;
}

.text-field {
  flex: 1;
  padding: 0.5rem;
  text-align: center;
  font-size: 3em;
}


.radio-button-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.radio-label {
  display: contents;
  text-shadow: 0.5rem 0.5rem 1rem black;
}

.server-response-header {
  flex: none;
  margin-right: 1em;
  align-self: flex-start;
}

#login-root {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.login-label {
  margin-top: 25vh;
  margin-bottom: 0;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}

.login-form {
  display: flex;
  margin: 0.5rem 0.5rem 2rem;
}

.login-error-display {
  margin-top: 0;
  margin-bottom: auto;
}


.admin-page {
  margin-top: 5em;
}

.admin-footer {
  margin-top: 6em;
  margin-bottom: 2em;
}



.prompt-approval-item {
  flex-direction: row;
  width: 80vw;
  margin: 0.5em auto;
  align-items: center;
}

.approval-button-container {
  width: 50%;
  flex-direction: row;
}

.approve-button {
  flex: 1;
  border-width: 0.2rem;

  color: var(--accent-col);
  border-color: var(--accent-col);
  font-size: 1.5em;
}

.reject-button {
  flex: 1;
  border-width: 0.2rem;

  color: var(--main-col);
  border-color: var(--main-col);
  font-size: 1.5em;
}