a {
  display: block;
  flex: 1;
  padding: 0.3em;
  margin: 0.5em;

  color: var(--main-col);
  font-family: clubFont;
  font-size: 2em;
  text-decoration: none;
  text-align: center;

  border-radius: 1em;
  border-style: solid;
  border-width: 0.4rem;
  border-color: var(--accent-col);

  transform: scale(1);
}

a:hover {
  border-color: var(--main-col);
  color: var(--accent-col);
  transform: scale(1.05);
  box-shadow: 0.25rem 0.25rem 1.25rem black;
}

.footer {
  margin-top: 6em;
  margin-bottom: 2em;
}