.header {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

#admin-link {
  flex: 0;
}
.disabled-admin-link {
  display: block;
  padding: 0.3em;
  margin: 0.5em;

  color: var(--accent-col-faded);
  font-family: clubFont;
  font-size: 2em;
  text-decoration: none;
  text-align: center;

  border-radius: 1em;
  border-style: solid;
  border-width: 0.4rem;
  border-color: var(--main-col-faded);
}

#club-link {
  flex: 0;
  border-radius: 50%;

  box-shadow: 0 0 1rem var(--accent-col);
}
#club-link:hover, #club-link:focus {
  box-shadow: 0 0 2rem var(--main-col);
}


#club-link-text {
  margin: auto;
}

.header-text {
  margin-left: 1em;
  margin-right: auto;

  color: var(--accent-col);
}