#header {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

#admin-link {
  flex: 0;
}

#club-link {
  flex: 0;
  border-radius: 50%;

  box-shadow: 0 0 1rem var(--accent-col);
}
#club-link:hover {
  box-shadow: 0 0 2rem var(--main-col);
}

#club-link-text {
  margin: auto;
}

#header-text {
  margin-left: 1em;
  margin-right: auto;

  color: var(--accent-col-faded);
}