body{
  --main-bg-col: #2a2d34;
  --main-col: #ff5e5b;
  --accent-col: #00cecb;

  --main-col-faded: #ff5f5ca5;
  --accent-col-faded: #00cecba5;

  background-color: var(--main-bg-col);
  color: var(--main-col);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-kerning:none;
  font-size: min(2.0vw, 16px);
}

@font-face {
  font-family: clubFont;
  src: url(../assets/BebasNeue.otf);
}


div {
  display: flex;
  flex-direction: column;

  width: 95vw;
  max-width: 1200px;
  height: fit-content;
  margin: auto;

  justify-content: space-around;
}


h1 {
  text-align: center;
  overflow:visible;
  /* color: var(--main-col); */
  /* font-family: clubFont; */
  font-size: 2.5em;
  text-shadow: 0.5rem 0.5rem 1rem black;
}

h2 {
  margin: 10vw 2vw 0 0;
  text-align: center;
  /* color: var(--main-col); */
  /* font-family: clubFont; */
  font-size: 3em;
}

h3 {
  font-size: max(1.5em, 16px);
  margin: 0;
}

ol {
  display: flex;
  text-align: center;
  justify-content: space-around;

  margin: 0;
  padding: 1em;
}

p {
  font-size: max(1em, 10px);
}


.main {
  color: var(--main-col);
}
.acc {
  color: var(--accent-col);
}
.main-faded {
  color: var(--main-col-faded);
  text-shadow:none;
}
.acc-faded {
  color: var(--accent-col-faded);
  text-shadow:none;
}


.flex-row {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.shadow {
  box-shadow: 0.5rem 0.5rem 1rem black;
}

.flat {
  flex: 0;
  margin: 0;
  padding: 0;
}

#current-prompt {
  display:block;
  margin: 0;
  text-align: center;
  font-family: clubFont;
  font-size: 5em;
  font-weight: bold;
  text-shadow: 0.5rem 0.5rem 1rem black;
}
