.word-list-container {
  padding: 1em 0 2em;
}

.word-list {
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5em 0;
  
  border-radius: 0;
  border-style: solid;
  border-width: 0.2rem;
  border-color: var(--accent-col);
}
.main-border {
  border-color: var(--main-col);
}

.word-list-item {
  margin: 0;
  padding: min(0.5rem, 1vw);
  font-size: max(1em, 10px);
  color: var(--accent-col-faded);
}