#word-list-container {
  padding: 1em 0 2em;
}

#word-list {
  flex-wrap: wrap;
  margin: 0.5em 0;
  
  border-radius: 0;
  border-style: solid;
  border-width: 0.2rem;
  border-color: var(--accent-col);
}

#prompt {
  margin: 0;
  padding: 0.5em;
  font-size: max(1em, 10px);

  transition: color 0.25s ease-in;
}
#prompt:hover {
  color: var(--accent-col);
  transition: color 0.05s ease-out;
}